@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize !important;
}

html,
body {
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  place-items: center;
  display: none;
  z-index: -1;
}

.modal-overlay .modal-container {
  background: #fff;
  border-radius: 10px;
  width: 50vw;
  height: 30vh;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.modal-overlay .game-btn .btn {
  padding: 0.375rem 0.875rem;
  background-color: transparent;
  border: 3px orange solid;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

.modal-overlay .game-btn .btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.575rem 1.575rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-overlay .game-btn .btn:nth-child(2) {
  -webkit-animation: scale 2s ease-in-out infinite;
          animation: scale 2s ease-in-out infinite;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal-overlay.open-modal {
  display: -ms-grid;
  display: grid;
  z-index: 1;
  -webkit-animation: openModal 0.5s ease-in;
          animation: openModal 0.5s ease-in;
}

@-webkit-keyframes openModal {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes openModal {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.message-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.message-overlay .message-container {
  background: #fff;
  border: 3px solid orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 40vw;
  min-height: 15vh;
  padding: 1.5rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.message-overlay .message-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message-overlay .message-container div button {
  margin: 1rem 0 0 0;
  padding: 0.475rem 1.375rem;
  background: #fff;
  border: 3px solid orange;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.message-overlay .message-container div button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: orange;
  color: #fff;
}

.message-overlay.show-message {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
  -webkit-animation: showMessage 1s ease-in;
          animation: showMessage 1s ease-in;
}

.message-overlay.hide-message {
  -webkit-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
  -webkit-animation: hideMessage 1s ease-in;
          animation: hideMessage 1s ease-in;
}

@-webkit-keyframes showMessage {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes showMessage {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes hideMessage {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes hideMessage {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.row {
  min-width: 40%;
  max-width: 90%;
  min-height: 90%;
  text-align: center;
}

.row .title {
  width: 100%;
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #7b3056;
  color: #fff;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.row .title i {
  color: orange;
  font-size: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.row .infos {
  margin-top: 2rem;
  font-size: 1rem;
}

.row .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px;
  min-height: 70%;
  max-height: 70%;
  background-color: #12aab4;
  margin: 1rem 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.row .main h1 {
  margin: 1.3rem 0;
}

.row .main input {
  padding: 0.375rem 0.875rem;
  border: 3px solid orange;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.row .main input[type="text"] {
  width: 50%;
  height: 70px;
  margin: 1.2rem 0 3rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.row .main input[type="text"]:focus {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.row .main input[type="submit"] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  color: orange;
  font-weight: 600;
  width: 25%;
  font-size: 1.2rem;
  cursor: pointer;
}

.row .main input[type="submit"]:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: transparent;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.row .main .previous-numbers,
.row .main .times {
  padding: 3rem 0 0 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.row .main .previous-numbers {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.row .main .previous-numbers span {
  color: #fff;
}

.row .main .times {
  padding: 0.875rem 0 0 0;
}

.alert {
  max-width: 80%;
  min-width: 80%;
  max-height: 20%;
  min-height: 20%;
  border-radius: 8px;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.alert.alert-show {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*# sourceMappingURL=style.css.map */